/* The container */
.rb-container {
    display: block;
    position: relative;
    /* padding-left: 35px;
    margin-bottom: 12px; */
    padding: 2px 35px;
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.rb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkradio {
    position: absolute;
    top: 0;
    left: 0;
    /* height: 25px;
    width: 25px; */
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: solid #404040;
    border-width: 1px;
    border-radius: 50%;
    transition: .2s;
}

/* On mouse-over, add a grey background color */
.rb-container:hover input ~ .checkradio {
    background-color: #c0c0c0;
}

/* When the radio button is checked, add a blue background */
.rb-container input:checked ~ .checkradio {
    background-color: #2080f0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkradio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.rb-container input:checked ~ .checkradio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.rb-container .checkradio:after {
    /* top: 9px;
    left: 9px;
    width: 8px;
    height: 8px; */
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
