/* Style di Website */

/* Fonts */
/* @import url("https://fonts.googleapis.com/css?family=Inter"); */
@import url("https://fonts.googleapis.com/css?family=Inter:500");
@import url("https://fonts.googleapis.com/css?family=Inter:700");
@import url("https://fonts.googleapis.com/css?family=Inter:900");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Consolas');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    /* font-family:"Open Sans Black",sans-serif; */
    /* font-family:"Segoe UI Medium",sans-serif; */
    /* font-family:"Tahoma",sans-serif; */
    /* font-family:"Source Sans Pro",sans-serif; */
    /* font-family:"Georgia",sans-serif; */
    /* font-family:"FreeSans",sans-serif; */
    /* font-family:"Open Sans",sans-serif; */
    /* font-family:"Raleway Medium",sans-serif; */
    /* font-family:"Montserrat Medium",sans-serif; */
    /* font-family:"Source Sans Pro"; */
    font-family:"Rubik",sans-serif;
    /* background-color: #d0e0f8; */
    
    background-image: url('images/dark-cubes-texture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* margin: 30px; */
    margin: 0;
	word-wrap: break-word;
}
/* html {
    scroll-behavior: smooth;
} */
html {
    --darkmode: 0;
    container-name: root;
    container-type: normal;
    scroll-behavior: smooth;
	scroll-padding-top: 130px;
}
/* * {
    box-sizing: border-box;
} */

.top-container {
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    z-index: 1;
}
.top-container2 {
    background-color: #105090;
    background-image: repeating-linear-gradient(90deg,#105090,#105090 30%,#40a0e0);
    padding: 10px;
	/* z-index: 1; */
}
.page-container {
    background-color: #384050;
    /* padding: 10px; */
	/* z-index: 1; */
}
.page-container a {
    /* background-color: #f0f0f0; */
    color: #d0d0d0;
    font-size: 18px;
    /* padding: 4px; */
    padding: 10px 20px;
    /* width: 120px; */
    text-align: center;
    cursor: pointer;
    float: left;
    text-decoration: none;
    transition: 0.3s;
}
.page-container a:hover, a:active {
    color: white;
}
.page-selected {
    pointer-events: none;
    font-weight: bold;
    background-color: rgb(255,255,255,0.05);
    border-bottom: 4px solid #30c050;
    width: auto;
}
/* .margin-left */
.container {
    /* margin-left: 30px; Sesuaikan dengan nilai yang diinginkan */
    /* margin:0 auto; */
    margin: 0 auto; /* this will center the page */
    width: 80%; /*  use your width here */
    background-color: #d0e0f8;
	/* Dari Gemini AI */
	/* max-width: 80%; /* Lebar maksimal di desktop */
    padding: 20px;    /* Jarak dari pinggir layar HP */
	box-sizing: border-box; /* Supaya padding tidak melebarkan elemen */
	position: relative;
}
.title-container {
    margin: 0 auto;
    width: 80%;
    background-color: white;
    background-image: repeating-linear-gradient(180deg,white,white 0%,#d0e0f8);
    padding: 20px;
	box-sizing: border-box;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 1250px) {
    .container {
        width: 100%;
		max-width: 1000px;
    }
	.title-container {
        width: 100%;
		max-width: 1000px;
    }
	.disappear {
	    display: none;
	}
}



p {
    /* margin-block-start: 20px;
    margin-block-end: 20px; */
    font-size: 20px;
    /* line-height: 1.5; */
}
.heading {
    /* font-family:"Raleway Medium",sans-serif; */
    font-family:"Inter",sans-serif;
	font-weight: 500;
}
/* .heading2 { */
.heading-top {
    font-family:"Inter",sans-serif;
	letter-spacing: 5px;
    font-weight: 700;
}
.heading-title {
    /* font-family:"Raleway Medium",sans-serif; */
    font-family:"Inter",sans-serif;
    letter-spacing: 10px;
    font-weight: 700;
}
.title {
	font-family:"Bebas Neue",sans-serif;
}
li {
    font-size: 20px;
}
a {
    font-size: 20px;
}
a.button:link, a.button:visited {
    background-color: #f0f0f0;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #404040;
    border-radius: 6px;
    transition: 0.3s;
}
a.button:hover, a.button:active {
    background-color: #d0d0d0;
}
/* .image {
    /* float: left; */
    /* margin: 2px;
} */
img.imginvertreverse {
	filter: invert(100%);
}
table img {
	margin-right: 10px;
}
.icon {
    width: 20px;
    vertical-align: bottom;
    padding: 2px;
}
.profile {
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
}
.row {
    display: flex;
}
/* .column {
    flex: 50%;
} */
.column {
    float: left;
    padding-right: 10px;
}
/* .margin-left */
.container2 {
    margin-left: 30px; /* Sesuaikan dengan nilai yang diinginkan */
    font-size: 20px;
}
.box {
    /* margin-block-start: 20px; */
    background-color: #c4d0f4;
	width: 100%;
    padding-left: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 6px;
}
.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Untuk mengisi seluruh tinggi viewport */
}
img {
    /* max-width: 100%; /* Gambar tidak akan melebihi lebar layar */
    max-width: 100%; /* Gambar tidak akan lebih lebar dari layar HP */
    height: auto;    /* Tinggi menyesuaikan agar gambar tidak gepeng */
    /* display: block; */
    /* margin: 10px 0; */
}
img.unselectable {
    user-select: none;
	pointer-events: none;
}
img.rounded {
	border-radius: 10px;
}

/* Table */
table, th, td {
    background-color: #e0e8f8;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-size: 20px;
}

/* Gallery */
div.gallery {
    margin: 5px;
    border: 1px solid #808080;
    float: left;
    width: 200px;
}
/* div.gallery:hover {
    border: 1px solid #777;
} */
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    font-size: 16px;
    padding: 15px;
    text-align: center;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Group Button */
.btn-group a {
    background-color: #f0f0f0; /* Green background */
    border: 1px solid black;
    color: black; /* White text */
    padding: 8px 16px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    text-decoration: none;
    transition: 0.3s;
}

.btn-group a:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.selected {
    pointer-events:none; font-weight:bold;
}

/* Add a background color on hover */
.btn-group a:hover {
    background-color: #d0d0d0;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: lightblue; */
    background-color: #f0f0f0;
    overflow-x: hidden;
    /* transition: 0s; */
    transition: 0.5s;
    padding-top: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    white-space: nowrap;
}
.backsidebar {
    background-color: rgb(0,0,0,0.3);
    display: none;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
}
/* .sidebar span { */
.sidebar span.sidespan {
    /* padding: 8px 8px 8px 20px; */
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 18px;
    display: block;
}
.sidebar h2 {
    padding-left: 20px;
    display: block;
}
.sidebar a {
    color: black;
    padding: 8px 8px 8px 20px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    background-color: #d0d0d0;
    border-radius: 6px;
}
.sidebar .closebtn {
    /* padding: 8px 8px 8px 20px; */
    background-color: #d0d0d0;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    font-size: 0px;
    transition: 0.3s;
}
.sidebar .closebtn:hover {
    background-color: #b0b0b0;
}
.sidebar .closebtn img {
    padding: 8px;
}
.openbtn {
    /* background-color: #d0d0d0; */
    /* background-color: lightblue;
    font-size: 24px;
    cursor: pointer; */
    background-color: #103880;
    border-radius: 6px;
    cursor: pointer;
    width: 46px;
    font-size: 0px;
    transition: 0.3s;
}
.openbtn:hover {
    background-color: #0d2c68;
}
.openbtn img {
    padding: 8px;
}


/* Search */
#mySearch {
	width: 100%;
	font-family:"Inter",sans-serif;
	font-size: 18px;
	padding: 11px;
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 16px;
	width: 240px;
}
.search {
	width: 100%;
	font-family:"Inter",sans-serif;
	font-size: 18px;
	padding: 5px 10px;
    background-color: #283040;
    color: white;
	border: 1px solid gray;
	border-radius: 6px;
	width: 300px;
}
#searchbtn {
	width: 100%;
	font-family:"Inter",sans-serif;
	font-size: 18px;
	padding: 5px 10px;
    background-color: #283040;
    color: white;
	border: 1px solid gray;
	border-radius: 6px;
	width: 100px;
    transition: 0.3s;
}
#searchbtn:hover {
    background-color: #303840;
}
#google-search-form {
	margin-right: 5px;
    margin-bottom: 5px;
}

/* Style the navigation menu inside the left column */
#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted black;
}
  
.tooltip .tooltiptext {
    /* visibility: hidden; */
	display: none;
    width: 200px;
    /* background-color: #555; */
    background-color: white;
    color: black;
    text-align: center;
    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);
    /* padding: 5px 0; */
    padding: 20px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    /* visibility: visible; */
	display: block;
    opacity: 1;
}

/* .tooltip::after {
    content: "";
    display: table;
    clear: both;
} */

/* Collapsible */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


/* Pagination */
.pagination {
    display: inline-block;
}

.pagination a {
    background-color: white;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 2px solid gray;
    transition: 0.3s;
}

.pagination a:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.pagination a.active {
    background-color: #80d0ff;
    font-weight: bold;
    /* color: white; */
    /* border: 1px solid #4080c0; */
}

.pagination a.nonclick {
    color: #c0c0c0;
}

.pagination a:hover:not(.active,.nonclick) {
    background-color: #d0d0d0;
}

.pagination a:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination a:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


/* The Modal (background), and contents */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; /* Location of the box */
	justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}
.modal-content {
    /* background-color: #fefefe; */
	background-color: #f0f0f0;
    border-radius: 10px;
    margin: auto;
    padding-top: 15px;
    border: 1px solid #888;
    width: 60%;
	white-space: initial;
}
.closebtn2 {
    background-color: #d0d0d0;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    margin-right: 15px;
    font-size: 0px;
    transition: 0.3s;
}
.closebtn2:hover {
    background-color: #b0b0b0;
}
.closebtn2 img {
    padding: 8px;
}


/* The Modal (background) */
#myImg {
    /* border-radius: 5px; */
    cursor: pointer;
    transition: 0.3s;
}  
#myImg:hover {opacity: 0.7;}
.modal-image {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
	font-size: 30px;
}
.modal-image-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
	max-height: 450px;
}
.image {
    /* border-radius: 5px; */
    cursor: pointer;
    transition: 0.3s;
}
.image:hover {opacity: 0.7;}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-image-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    /* color: #f1f1f1; */
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
.close:hover, .close:focus {
    /* color: #bbb; */
    color: #c0c0c0;
    text-decoration: none;
    cursor: pointer;
}


/* Small devices */

@media screen and (max-width: 850px) {
	.page-container a {
		display: none;
	}
}

@media screen and (max-width: 600px) {
    #blank-profile {
	    display: none;
	}
	#top-container2 div {
		letter-spacing: 0px;
		font-weight: 500;
	}
	.page-container a {
		display: none;
	}
	.page-container input {
		width: auto;
	}
    .modal-content {
	    width: 90%;
		/* white-space: normal; */
		white-space: initial;
	}
	.modal-content #info-icon {
		display: none;
	}
}

/* Dark Mode */
/* @media screen and (max-width: 600px) { */
@container root style(--darkmode: 1) {
    body {
        /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/dark-cubes-texture.jpg'); */
    }
    .container {
        /* background-color: #d0e0f8; */
        background-color: #202438;
        color: white;
    }
	.title-container {
        background-color: gray;
        background-image: repeating-linear-gradient(180deg,#80a0c0,#6080a0 0%,#202438);
    }
    .box {
        /* background-color: #c4d0f4; */
        background-color: #082034;
		border: 1px solid white;
    }
    /* a.external {
        font-size: 16px;
    } */
    a.link:link {
        color: #8080ff;
        /* background-color: transparent;
        text-decoration: none; */
    }
    a.link:visited {
        color: #c080ff;
    }
    /* .external a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    } */
    a.link:active {
        color: #ff8080;
    }
    a.button:link, a.button:visited {
        background-color: #202020;
        color: white;
        border: 1px solid #c0c0c0;
    }
    a.button:hover, a.button:active {
        background-color: #404040;
    }
	img.imginvert {
	    filter: invert(100%);
	}
	img.imginvertreverse {
	    filter: invert(0%);
	}
    /* Table */
    table, th, td {
        background-color: #20242c;
        border: 1px solid white;
        border-collapse: collapse;
        padding: 10px;
        font-size: 20px;
    }
    /* Group Button */
    .btn-group a {
        background-color: #202020; /* Green background */
        border: 1px solid white;
        color: white; /* White text */
    }
    .btn-group a:hover {
        background-color: #404040;
    }
    .pagination a {
        background-color: black;
        color: white;
    }
    .pagination a.active {
        /* background-color: #80d0ff; */
        background-color: #103060;
    }
    .pagination a:hover:not(.active,.nonclick) {
        background-color: #404040;
    }
	.sidebar {
		background-color: #303030;
		color: white;
		box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
	}
	.sidebar a {
		color: white;
	}
	.sidebar a:hover {
		background-color: #606060;
	}
	.sidebar .closebtn {
		background-color: #606060;
	}
	.sidebar .closebtn:hover {
		background-color: #808080;
	}
	#mySearch {
		background-color: #202020;
        color: white;
	}
	/* .sidebar .closebtn img {
		padding: 8px;
	} */
	.tooltip {
	    border-bottom: 2px dotted white;	
	}
	.modal-content {
		background-color: #303030;
	}
	.closebtn2 {
		background-color: #606060;
	}
	.closebtn2:hover {
        background-color: #808080;
    }
	.modal-image-content {
		max-width: 80%;
		object-fit: contain;
	}
}
