/* Style di Website */

body {
    /* font-family:"Open Sans Black",sans-serif; */
    /* font-family:"Segoe UI Medium",sans-serif; */
    /* font-family:"Tahoma",sans-serif; */
    /* font-family:"Source Sans Pro",sans-serif; */
    /* font-family:"Georgia",sans-serif; */
    /* font-family:"FreeSans",sans-serif; */
    font-family:"Open Sans",sans-serif;
    /* background-color: #d0e0f8; */
    
    background-image: url('images/dark-cubes-texture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* margin: 30px; */
    margin: 0;
}
.top-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #105090;
    padding: 10px;
}
/* .margin-left */
.container {
    /* margin-left: 30px; Sesuaikan dengan nilai yang diinginkan */
    /* margin:0 auto; */
    margin:0 auto; /* this will center the page */
    width:80%; /*  use your width here */
    background-color: #d0e0f8;
    padding: 0 20px;
}
p {
    font-size: 20px;
    /* line-height: 1.5; */
}
li {
    font-size: 20px;
}
a {
    font-size: 20px;
}
a.button:link, a.button:visited {
    background-color: #c8c8c8;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #404040;
    border-radius: 6px;
}
a.button:hover, a.button:active {
    background-color: #b0b0b0;
}
/* .image {
    /* float: left; */
    /* margin: 2px;
} */
.row {
    display: flex;
}
.column {
    flex: 50%;
}
/* .margin-left */
.container2 {
    margin-left: 30px; /* Sesuaikan dengan nilai yang diinginkan */
}
.box {
    /* margin-block-start: 20px; */
    background-color: #c4d0f4;
    max-width: 1000px;
    padding-left: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 6px;
}
.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Untuk mengisi seluruh tinggi viewport */
}

/* Table */
table, th, td {
    background-color: #e0e8f8;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

/* Gallery */
div.gallery {
    margin: 5px;
    border: 1px solid #808080;
    float: left;
    width: 200px;
}
/* div.gallery:hover {
    border: 1px solid #777;
} */
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Dropdown */
.dropbtn {
    background-color: #103880;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}

button {
    font-family:"Open Sans",sans-serif;    
}

.dropdown:hover .dropbtn {background-color: #103070;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: #d0d0d0;}
